.Footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: grid;
    justify-content:center;
    align-items: center;
    font-family: 'SimsSun'; 
    padding: 0%; 
    color:rgb(255, 255, 255);
    background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0), rgb(21, 96, 35),rgb(2, 255, 82));
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    grid-template-rows: 70% 30%;
    grid-template-columns: 25% 25% 25% 25%;
    display: grid;
    opacity: .9;
    box-shadow: top;
    box-shadow: 1px 1px 1px 1px #faf5f3;
    border-radius: 25px 25px 0px 0px;
    /* margin-top: 20px;  */
    margin-bottom: 0px;
    height: 120px;
}

#X {
    font-family: 'monospace';
    font-weight: auto;
    margin-right: 14px;
    font-weight: bold;
}

.div01 {
    background-color: black !important;
}

/* .body {
    font-family: 'SimsSun';
    font-size: 16px;
    background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0), rgb(21, 96, 35),rgb(2, 255, 82));
    height: 1000px;
} */

.React {
    text-align: left;
    font-family: 'SimsSun';
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    size: 50px;
}

.FooterIcon {
    size: 50px;
}

.reactLogo {
    height: auto;
    background: transparent !important;
    mix-blend-mode: multiply;
    background-blend-mode: exclusion !important;
    width: 20px;
    size: small;
}

.FooterMsg {
    text-align: center;
    font-family: 'SimsSun';
    font-weight: bold;
    /* font-size: 17px; */
    margin-left: 10px;
    margin-top: 5px;
}

.igAnimation {
    width: 75px;
    height: auto;
    /* background: transparent !important; */
    /* mix-blend-mode: multiply; */
    /* background-blend-mode: exclusion !important; */
    box-shadow: none;
}

.linkedinAnimation {
    width: 50px;
    height: auto;
    /* background: transparent !important; */
    /* mix-blend-mode: multiply; */
    /* background-blend-mode: exclusion !important; */
}

.spotifyAnimation {
    width: 50px;
    height: auto;
    /* background: transparent !important; */
    /* mix-blend-mode: multiply; */
    /* background-blend-mode: exclusion !important; */
}
 */
.Blips {
    width: 75px;
    height: inherit;
}